$navbar-default-bg: #800000;

 @import "bootstrap-sprockets";
 @import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
}

.center {
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -.075em;
  margin-bottom: 2em;
  text-align: center;
}

.jumbotron {
  background-image: url('Alpha_Esportslogo_square.png');
  background-size: cover;
  height: 75em;
}

.btn-xlarge {
  font-size: 1.5em;
  background-color: maroon;
}

footer {
  margin-top: 3em;
  padding-top: .5em;
  border-top: .1em solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 1em;
}
.article-meta-details {
  border-top: 1px, solid #eaeaea;
  margin-top: 15px;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
